/* --- Navigationsleiste --- */
#header-nav{
  width:100%;
  height:50px;
  background-color: #FFF;
  position: relative;
  font-weight:bold;
  font-size:1.1rem;
}
#header-nav a > img {
  height: 30px;
  width:auto;
  float:left;
  margin: .55rem;
}
#header-nav ul{
  margin:0;
  padding:0;
  height:100%;
  float:right;
}
#header-nav ul > li{
  display:inline-block;
  height:100%;
  padding:0 .4rem 0 .4rem;
}
#header-nav ul > li >a{
  display:inline-block;
  margin-top: .8rem;
}

#header-nav .container,
#header-nav .row{
  height:100%;
  background-color: #FFF;
}
#header-nav .col-6{
  padding: 0;
  height:100%;
}
.active{
  background-color: #7791C3;
}
.active a:link {
  color: #FFF;
  text-decoration: none;
}
.active a:visited {
  color: #FFF;
  text-decoration: none;
}
.active a:hover {
  color: #FFF;
  text-decoration: none;
}
.inactive{
  background-color: #FFF;
}
.inactive a:link {
  color: #94a4c0;
  text-decoration: none;
}
.inactive a:visited {
  color: #94a4c0;
  text-decoration: none;
}
.inactive a:hover {
  color: #94a4c0;
  text-decoration: none;
}
.logo-link{
  display:inline-block;
}

/* --- Navigationsleiste responsive machen --- */
@media (max-width:768px){
  #desktop-nav{
      display: none;
  }
  #mobile-nav{
      display:block;
  }
}


/* === Footer-Bereich ===*/
#footer{
  background-color: #FFFFFF;
  height: 2.8rem;
  color: #7791C3;
}
#footer .container{
  background-color: #FFFFFF;
}
#footer > .container > span{
  margin-left:1em;
}
#footer-nav{
  display:inline-block;
  float:right;
}
#footer-nav a{
  text-decoration: none;
  margin-right:1em;
}
#footer-nav a:link{
  color: #7791C3;
}
#footer-nav a:visited{
  color: #7791C3;
}
#footer-nav a:active{
  color: #7791C3;
}
#footer-nav a:hover{
  color: #7791C3;
}

/* === Footer-Bereich responsive machen ===*/
@media (max-width: 565px){
  #footer span{
      display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: rgb(255, 255, 255, 0.7);
  overflow: hidden;
}

.salute {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.saluteTextContainer {
  flex: 3;
}

.saluteImgContainer {
  flex: 1;
}

.saluteText {
  color: rgb(119, 145, 195);
  font-size: 60vw;
  cursor: default;
}

.saluteImg {
  width: 100%;
}

.nameContainer {
  height: 100vh;
  /* background-color: rgb(11, 137, 141);
  */
}

.name {
  font-size: 12vw;
  color: rgba(0, 0, 0, 0.80);
  cursor: default;
  text-align: center;
  line-height: 100vh;
}

.jobTitleContainer {
  height: 100vh;
}

.dark {
  background-color: rgb(0,0,0,1);
  color: rgb(119, 145, 195);

}
.purple {
  color: rgba(0, 0, 0, 0.80);

}

.jobTitle {
  font-size: 7vw;
  line-height: 100vh;
  cursor: default;
}

.projects {
  background-color: rgb(0,0,0,1);
  display: flex;
  flex-direction: column;
  gap: 30vh;
  padding: 0px 100px;
}

.projectsTitle {
  font-size: 6vw;
  color: rgb(119, 145, 195);
}

.project {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100vh;
  background-color: rgb(0,0,0,1);
}

.project:nth-child(2n) {
  flex-direction: row-reverse;
}

.swe {
  flex: 1;
  position: relative;
}

.swe-img{
  max-width: 100%;
  height: auto;
}

.projectDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.projectTitle {
  font-size: 3vw;
  color: rgb(119, 145, 195);
}

.projectDesc {
  font-size: 20px;
  color: rgb(119, 145, 195, 0.7);
  text-align: justify;
  line-height: 40px;
}
.hiddenLink{ 
  color:transparent;
}
.projectButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #555;
  color: rgb(119, 145, 195);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.projectButton::after {
  content: "Github";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: #222;
}

.projectButton:hover.projectButton::after {
  transform: translateX(100%);
}

.ser {
  flex: 1;
  position: relative;
}

.ser-img{
  max-width: 100%;
  height: auto;
}

.cell {
  flex: 1;
  position: relative;
}

.cell-img{
  max-width: 40%;
  height: auto;
}


.githubContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.githubTitle {
  font-size: 100px;
  color: #333;
}

.githubChart {
  width: 820px;
  text-align: center;
}

.dates {
  padding: 10px;
  color: #555;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


.box {
  width: 15px;
  height: 15px;
  background-color: rgb(119, 145, 195);;
  border-radius: 2px;
  cursor: pointer;
  transition: 3s all ease;
}

.active:nth-child(4n) {
  background-color: rgb(119, 145, 195);;
}

.githubChart:hover .active:nth-child(2n+1){
  background-color: rgb(119, 145, 195, 0.2);;
}
.githubChart:hover .active:nth-child(2n){
  background-color: rgb(119, 145, 195, 0.2);;
}

.githubSm{
  display: none;
}

@media screen and (max-width:1024px) {

  .projects{
    padding: 0 30px;
    text-align: center;
  }

  .project{
    flex-direction: column;
    height: max-content;
  }
  .project:nth-child(2n){
    flex-direction: column;
  }

  .swe,.ser, .cell{
    transform: none !important;
  }
  
  .githubChart{
    display: none;
  }

  .githubTitle{
    text-align: center;
    font-size: 10vw;
  }

  .githubSm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color:#555;
    font-size: 30px;
    text-align: center;
  }
}